@import "tailwindcss";

:root {
  --color-primary: #0F172A;        /* Глубокий синий */
  --color-background: #F9FAFB;     /* Молочный белый */
  --color-accent: #D6AD60;         /* Золотистый */
  --color-text: #1F2937;           /* Графитово-серый */
}


@theme inline {

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
 
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
