@import "tailwindcss";

:root {
  --color-primary:#a51d1d;
  --color-background:#F9FAFB;
  --color-accent: #D6AD60;
  --color-text: #1F2937;
}


@theme inline {

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


.dark {
  --color-primary:   #f9fafb;
  --color-background: #111827;
  --color-accent: #D6AD60;
  --color-text: #a51d1d;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
